/*reset css*/
*,
::before,
::after {
  margin: 0;
  box-sizing: border-box;
}
/*:root*/
:root {
  --bgBody: hsl(212, 45%, 89%);
  --bgCard: hsl(0, 0%, 100%);
  --textColor: hsl(220, 15%, 55%);
  --titleColor: hsl(218, 44%, 22%);
  --fontSize: 15px;
  --lightWeight: 400;
  --bolderWeight: 700;
  --radius: 15px;
}
.container {
  background-color: var(--bgBody);
  padding: 50px 40px;
  height: 100vh;
}
.card {
  background-color: var(--bgCard);
  padding: 10px;
  border-radius: var(--radius);
}
.card-picture {
  width: 100%;
}
.card-picture img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius);
}
.card-body {
  padding: 15px;
}
.card-body-title p {
  font-size: var(--fontSize);
  font-weight: var(--bolderWeight);
  color: var(--titleColor);
  margin-bottom: 15px;
  text-align: center;
}
.card-body-p p {
  font-size: var(--fontSize);
  font-weight: var(--lightWeight);
  color: var(--textColor);
  text-align: center;
}
/*mediaqueries*/
@media screen and (width>345px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 264px;
  }
}
